<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
 <h2>Person Form</h2>

  <form method="post" id="personForm" data-subjects-url="{% url 'ajax_load_subjects' %}" novalidate>
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Save</button>
    <a href="{% url 'person_changelist' %}">Nevermind</a>
  </form>
</div>

  <script>
    $("#id_department").change(function () {
      var url = $("#personForm").attr("data-subjects-url");  // get the url of the `load_cities` view
      var departmentId = $(this).val();  // get the selected country ID from the HTML input

      $.ajax({                 // initialize an AJAX request
        url: url,              // set the url of the request (= localhost:8000/hr/ajax/load-subjects/)
        data: {
          'department': departmentId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_subject").html(data);  // replace the contents of the city input with the data that came from the server
        }
      });

    });
  </script>

</body>
</html>